/*Se definen los colores basado en contraste aa/aaa*/
:root {
  --bg-main: #F8F0DD;       /* Fondo principal */
  --text-main: #031926;     /* Texto principal AAA */
  --text-secondary: #468189;/* Texto secundario AA */
  --accent-1: #77ACA2;      /* Botones / enlaces AA */
  --accent-2: #9DBEBB;      /* Fondos suaves */
}

/* Estilos globales */
body {
  background-color: var(--bg-main);
  color: var(--text-main);
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
  margin: 0;
  padding: 15px;
}
h1, h2 {
  color: var(--text-secondary);
}

a {
  color: var(--text-main);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
  color: var(--text-secondary);
}
p {
  color: var(--text-main);
  font-family: "Inter", "Roboto", Arial, sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  font-weight: 400;
  margin: 0 auto 1rem auto;  
  text-align: left;         
  max-width: 700px;          
}

text {
  fill: var(--text-main);
  font-size: 15px;
  font-family: Arial, sans-serif;
  font-weight: bold ;
}

/*Estilo global de botones*/

  button {
    padding: 12px 24px;
    border-radius: 10px;
    border: 2px solid var(--text-main);
    cursor: pointer;
    background: var(--text-main);
    color: var(--bg-main);
    font-weight: bold;
    transition: 0.2s;
  }
    /* HOVER */
  button:hover {
    background: var(--accent-2) 
  }
    /* ACTIVE */
  button:active {
    background: var(--accent-2) 
  }
  /* FOCUS */
  button:focus {
    outline: 3px solid var(--accent-1);
    outline-offset: 3px;
  }


/*Creamos el fondo centrado de la cabecera*/
  /* BARRA SUPERIOR */
  header {
    flex: 1;
    width: 100%;
    color: var(--white);
    padding: 1px 1px;
    position:sticky;
    top: 0;
    z-index: 10;
    align-items: center;
    justify-content: center;
  }
  /* NAVEGACIÓN */
  .navbar {
    background-color: var(--accent-1);
    overflow: hidden;
    border-radius: 15px;
    height:auto;
    align-items: center;
    margin-left: 80px;
    margin-right: 80px;
    display: flex;
    align-items: center;
  }

nav {
    flex: auto;
    max-width: 100%;
    margin: 3px;
    display: flex;
    justify-content: space-between;
    align-items: right;
    padding: 5px;
  
}

  nav a {
    color: var(--text-main);
    margin-left: 15px;
    text-decoration:solid underline;
    font-size: 14px;
    font-style: oblique;
    text-underline-offset: 4px;
    text-decoration-thickness: 1.5px;
    font-weight: bold;
  }

  nav a:hover {
    text-decoration:wavy underline;
    text-decoration-color: var(--bg-main); 
    text-decoration-thickness: 2px; 

  }

  .ubicacion {
    font-size: 12px;
    font-weight: bold;
    margin-left: 15px;
  }


  /* Configuración general de contenedores */
  .container {
    width: 100%;
    padding: 1px 1px;
    margin: 0 auto;
    margin-top: 20px;
    align-items: center;
    flex-direction: column;
    
  }
  /*Configuración de titulos de contenedores*/
  .titulos {
    font-size: 2rem;
    color: var(--text-main);
    text-align: center;
    margin-bottom: 20px;
  }
  /* Configuración vertical de contenedores  para dispositivos móviles */
@media (max-width: 768px) {
  .container {
    flex-direction: column;
  }
}

/*
  CONTENT-1 SECTION
*/
  /* Content Foto y descripción, presentación y botones */
  .content-1 {
    margin-top: 50px;
    display: flex;
    flex-direction: row; /* Por defecto horizontal */
    width:auto;
    gap: 5px;
    align-items: flex-start;
    justify-content: center; /* Centra horizontalmente */
    padding: 2px;
    /*border: 2px solid var(--text-main);*/
  }
  /* SECCIÓN DE IMAGEN + DESCRIPCIÓN */
  .image-content {
    /*flex: 1;*/
    display: flex;
    flex-direction: column; /* pila vertical */
    align-items: center; /* alinea a la derecha */
    justify-content: left; /* Centra horizontalmente */
    gap: 5px;
    margin-top: 5px;
    padding: 2px;  
    /*border: 2px solid var(--accent-1);*/
    width: auto;
  }
  /* SECCIÓN DE IMAGEN */
  .image-box {
    flex: 0 0 auto;
    width: 300px;
    aspect-ratio: 1 / 1; 
    background: var(--accent-1);
    border: 2px solid var(--accent-1);
    border-radius: 50%;
    overflow: hidden; 
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--accent-1);
    font-weight: bold;
  }

  /* Imagen dentro del círculo - cubrir y llenar */
  .image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
/* Descripción de la imagen debajo */
  .image-description {
    padding: 2px;
    font-size: 12px;
    color: var(--text-main);
    align-items: center;
    justify-content: center; /* Centra horizontalmente */
    display: inline-block;
    width: fit-content;
    height: fit-content;
  }

  /* Caja de contenido de botones y texto */
  .text-button-content {
    /*flex: 1;*/
    gap: 15px;
    /*border: 2px solid var(--accent-1);*/
    padding: 2px;   
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: auto;
    margin-left: 20px;
  }
  .text-presentation {
    display: flex;
    flex-direction: column;
    align-items: left; /* alinea a la izquierda */
    justify-content: center; /* Centra horizontalmente */
    padding: 2px;
    width: auto;
    max-width: 500px;
  }

  .dato-contacto{
    padding: 1px;
    width: auto;
    font-weight: bold;
    
  }
  .parrafo-presentacion{
    font-size: 1em;
    color: var(--text-main);
    margin: 0 0 16px 0;
    text-align: justify;
    line-height: 1.4;
    animation-duration: 3s;
    animation-name: slidein;
}


@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}
  /* Botón personalizado  */
  .buttons {
    display: flex;
    gap: 2px;
    margin-top: 20px;
    justify-content: center;
    width: fit-content;
    height: fit-content;
  }
  /* Configuración vertical de content-1  para dispositivos móviles */
  @media (max-width: 768px) {
    .content-1 {
      flex-direction: column; 
    }
  }
/*
  CONTENT-2 SECTION
*/
  /* Content tres botones circulares */
.content-2 {
    flex: 1;
    flex-direction: row; /* Por defecto horizontal */
    display: flex;
    width: 100%;
    gap: 2px;
    align-items: center;
    justify-content: center; /* Centra horizontalmente */
}
/* Caja de cada botón circular */
.box {
  padding: 2px;
  /*border: 2px solid var(--accent-1);*/
  background: var(--bg-main);
  text-align: center;
  border-radius: 6px;
  display: inline-block;
  width: fit-content;
  height: fit-content;
}
/* Estilo de los círculos SVG */
circle {
  transition: fill 0.3s ease;
  fill: var(--accent-2);
  stroke: var(--accent-1);
  stroke-width: 3;
}


/*
  CONTENT-3 SECTION
*/
.content-3 {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Dos columnas */
    gap: 20px; /* Espacio entre tarjetas */
    max-width: 900px;
    margin: 50px auto; /* Centrado */
}

.card-cv {
    background-color: var(--accent-2);
    border: 2px solid var(--accent-1);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 4px 4px 10px rgba(0,0,0,0.5);
}

.card-cv h2 {
    margin-bottom: 15px;
    font-size: 20px;
    color: var(--text-main);
    border-bottom: 1px solid var(--bg-main);
}
.card-cv p {
    color: var(--text-main);
    font-size: 14px;
    line-height: 1.4;
    margin-top: 2px;
    margin-bottom: 5px;
}


.chip {
  display: inline-block;
  padding: 0 10px;
  height: 20px;
  font-size: 12px;
  line-height: 20px;
  border-radius: 15px;
  background-color: var(--bg-main);
  color: var(--text-main);
  margin-top: 5px;
}

.download-cv {
    margin-top: 20px;
    text-align: center;
}

/* Configuración vertical de content-3  para dispositivos móviles */
@media (max-width: 768px) {
    .content-3 {
        grid-template-columns: 1fr; /* Una columna en móvil */
    }
}
/* Estilo específico para el botón de descarga de CV */


/* CONTENT-4 SECTION */
.content-4 {
    display: flex;
    overflow-y:auto;
    padding: 16px;
    align-items: center;
    justify-content: center; /* Centra horizontalmente */
    gap: 10px;
}

.card-project{
  margin-right: 10px;
  position: relative;
  background: var(--accent-2);
  border-radius: 10px;
  width: 350px;
  box-shadow: 4px 4px 10px rgba(0,0,0,0.5);
}
.card-project img {
    width: 350px;
    object-fit: cover;
    height: 250px;

}

.card-content {
    position:relative;
    bottom: 0;
    padding: 1px;
    background-color : var(--accent-2);
    color: var(--text-main);
}

.card-content h3 {
    margin-top: 0;
    color: var(--text-main);
}
.card-project a {
    text-decoration: none;
    width: 100%;
}

.card-content p {
    color: var(--text-main);
    font-size: 12px;
    line-height: 1.4;
    margin-top: 20px;
}

/* ----- Botón 100% ancho ----- */
.card-project button {
    width: 100%;
    display: block;
    padding: 12px;
}



/* Configuración vertical de content-4  para dispositivos móviles */
@media (max-width: 768px) {
    .content-4 {
        flex-direction:column;
    }
}

/* Sección de contacto */
.content-5 {
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 30px 15px;
}


.contact-grid {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact-item {
    display: flex;
    align-items: center;
    background: var(--accent-2);
    padding: 15px 20px;
    border-radius: 8px;
}

.contact-item .icon {
    font-size: 24px;
    margin-right: 15px;
}

.contact-item p {
    margin: 0;
    font-size: 18px;
    color: var(--text-main);
    font-weight: bold;
}


@media (min-width: 700px) {
    .contact-grid {
        flex-direction: row;
        justify-content: space-between;
    }

    .contact-item {
        width: 32%;
        flex-direction: column;
        text-align: center;
    }

    .contact-item .icon {
        margin-bottom: 10px;
        margin-right: 0;
    }
}